body {
color:#F2F2F2;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
background-color: #e1f7fd;

   }
   
   .wrapper {
 background: url("Images/background.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-color: #CCBAB6;
opacity: 0.9;
border-radius: 8px;
width: 720px;
height: auto;
margin: auto;
padding: 20px 187px;
}


h1 {
display: block;
position: right;
top: auto;
left: auto;
background-image:url("Images/climbthetree.png");
width: 500px;
height: 168px;

}

.content {
	background-color:#3EA9C9;
	border-radius: 8px;
	margin: 0 auto;
	padding: 80px 106px 80px 106px;
}


.header {
	  position:relative;
	  float:left;
	  clear:none;
	  overflow:hidden;
	  }
	  
.header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	z-index:1;
	}
	
h2 {
color: #5b483d;
font-family: 'Open Sans', sans-serif;
  font-size: 35px;
  padding: 20px;
  font-weight: 600;
  line-height: 0;
  margin-left: -8px;
  margin-right: -106px;
  border-radius: 0px;
  background-color: #bde1e9;
  text-align: inherit;
  
   }

h3 {
color: #F2F2F2;
font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 31px;
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: -webkit-auto;
  }
	  
p {
color:#F2F2F2;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
line-height:24px;
padding: 30px 10px;
font-weight: 300;

}

ol {
display: block;
list-style-image: url("images/blueicon.png");
position: inherit;
list-style-position: initial;
text-align: left;
margin: 0;

}
  
  a:hover {
text-decoration: none;
color: #3ea9c9;
font-family: 'Raleway', sans-serif;
font-weight: 600;
font-size: 15px;
text-align: center;
background-color: #FFFFFF; 
}

nav {
position: fixed;
margin: -100px;
orientation: inherit;
right: 261px;
}


nav li {
list-style-type:none;
display: inline-block;
margin: 20px auto;
max-width: 768px;
height: 170px;
padding: 32px 10px;
}

nav ul li a {
display: block;
text-decoration: none;
color: #5b483d;
font-family: 'Raleway', sans-serif;
font-weight: 600;
font-size: 17px;
background-color: #B9E4F0;
padding: 10px;
transition: all .5s;
text-align: center;
margin: 10px auto;
}









  


  
