body {
color:#F2F2F2;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
   }
   
   .wrapper {
 background: url("Images/background.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

background-color: #CCBAB6;
opacity: 0.8;
border-radius: 8px;
max-width: 768px;
margin: 20px auto;
padding: 20px 187px;
}

	.content {
	background-color:#3EA9C9;
	opacity: 0.9;
	border-radius: 8px;
	margin: 0 auto;
	padding: 10px 106px 10px 133px;
}

.header {
	  position:relative;
	  float:left;
	  clear:none;
	  overflow:hidden;
	  }
	  
.header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	z-index:1;
	}
	  
.header .title {
	color: #76C3DB;
	opacity: 1.0;
	display:block;
	font-size: 9em;
	position:absolute;
	width:101%;
	top:-6%;
	left:11%;
	z-index:2;
	text-align: -webkit-center;
	}


h1 {
  color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 700;
  }

  
h2 h3 {
color: #0099ff;
font-family: 'Raleway', sans-serif;
  font-size: 2em;
  font-weight: 700;
  }
  
  a:hover {
text-decoration: none;
color: #2F4F4F;
font-family: 'Open Sans', sans-serif;
font-weight: 600
font-size: 20px;
text-align: center;
background-color: #EBC5C5; 
}



nav li {
list-style-type:none;
display: inline-block;
margin: 20px auto;
max-width: 768px;
height: 170px;
padding: 32px 10px;
}

nav ul li a {
display: block;
border-radius: 15px;
text-decoration: none;
color: #9C3A3A;
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 20px;
background-color: #B9E4F0;
opacity: 0.9;
padding: 5px;
transition: all .5s;
text-align: center;
margin: 10px auto;
}











  


  
